<div class="card" style="min-width: 350px;">
    <div class="card-header bg-dark d-flex align-items-center justify-content-between">
        <span class="text-white text-uppercase">Your Clothes</span>
        <i class="fa fa-plus-circle float-right" style="color: #fff;" (click)="addClothing()"></i>
    </div>
    <div class="card-body" style="max-height: 500px; overflow-y: scroll;">

        <app-login></app-login>

        {{clothes | json}}
        <div class="card border-0" *ngFor="let clothing of clothingService.clothes | async"
            (click)="selectClothing(clothing)">
            <div class="row no-gutters">
                <div class="d-flex flex-wrap align-items-center">
                    <img src="{{clothing.photo ? clothing.photo: 'https://via.placeholder.com/100'}}"
                        style="max-width: 100px;">
                </div>
                <div class="pt-1 pl-3">
                    <h5 class="card-title">{{clothing.name}}</h5>
                    <p class="card-text"><small class="text-muted text-uppercase">{{clothing.brand}}</small></p>
                </div>
            </div>

            <div class="w-100">
                <hr>
            </div>
        </div>

    </div>

    <app-clothing [clothing]="selectedClothing" (editImage)="editImage()"></app-clothing>
</div>